# Top-level files and directories
/dist/
/bin/
/develop-eggs/
/build/
/eggs/
/lib/
/local/
/include/
/parts/
/share/
/XUDD.egg-info
/docs/_build/
/docs/build
/user_dev/
/.tox/
/.coverage

# File extensions
*.pyc
*.pyo
*~
*.swp
